body{
    background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=L1BhMzZ4&id=05AE6501647FA0807768F1F707029B2CFA601881&thid=OIP.L1BhMzZ46azt0SDAZrjniQHaD5&mediaurl=https%3A%2F%2Fstaticg.sportskeeda.com%2Feditor%2F2023%2F05%2F0d1fc-16830344217264-1920.jpg&exph=1009&expw=1920&q=jujutsu+kaisen&simid=608002323073011538&FORM=IRPRST&ck=47EE0098F9814AD2EAE2354B6BBB16B4&selectedIndex=2&itb=0&cw=1375&ch=664&mode=overlay#);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

