body{
    background-image: url(https://staticg.sportskeeda.com/editor/2023/06/f2988-16880551809512-1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}